* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.main {
    height: 500px;
    width: 500px;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main>div {
    background-color: white;
    height: 450px;
    width: 450px;
}